@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .fade {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 10;
      background: -webkit-linear-gradient(
         right,
         rgb(255, 255, 255) 0%,
         rgba(255, 255, 255, 0.13) 20%,
         transparent 100%
      );
   }
}

/* rgba(255, 255, 255, 0) 85%,
         rgb(255, 255, 255) 100% */

@layer components {
   .btn {
      @apply space-x-2 focus-visible:outline-none shrink-0 relative  transition-all font-semibold border-none text-center flex items-center justify-center cursor-pointer outline-none disabled:opacity-30 disabled:pointer-events-none 
      after:rounded-xl after:outline after:outline-emerald-500 after:outline-offset-4 focus-visible:after:block;
   }

   .btn-pill {
      @apply rounded-full after:rounded-full px-6 py-2;
   }

   .btn-rect {
      @apply rounded-xl px-6 py-2;
   }

   /*   .btn-rect-sm {
      @apply rounded-xl px-4 py-2;
   }*/

   .btn-icon {
      @apply h-12 w-12 text-2xl rounded-xl;
   }

   .btn-icon-sm {
      @apply h-9 w-9 text-base rounded-xl;
   }

   .btn-solid-default {
      @apply bg-black text-white hover:bg-opacity-80 active:bg-black;
   }

   .btn-solid-primary {
      @apply bg-emerald-600 text-white hover:bg-emerald-500 active:bg-emerald-700;
   }

   .btn-solid-danger {
      @apply bg-red-600 text-white hover:bg-red-500 active:bg-red-700;
   }

   .btn-solid-warning {
      @apply bg-orange-600 text-white hover:bg-orange-500 active:bg-orange-700;
   }

   .btn-outline-default {
      @apply border border-solid bg-transparent border-black text-gray-700 hover:text-black hover:bg-slate-100 active:bg-slate-200;
   }

   .btn-outline-primary {
      @apply border border-solid bg-transparent border-emerald-500 text-emerald-500 hover:bg-emerald-100 active:bg-emerald-200;
   }

   .btn-outline-danger {
      @apply border border-solid bg-transparent border-red-600 text-red-600 hover:bg-red-100 active:bg-red-200;
   }

   .btn-outline-warning {
      @apply border border-solid bg-transparent border-orange-500 text-orange-500 hover:bg-orange-100 active:bg-orange-200;
   }

   .btn-ghost-default {
      @apply bg-transparent text-gray-700 focus:text-black focus:bg-slate-200 hover:text-black hover:bg-slate-200 active:bg-slate-300;
   }

   .btn-ghost-primary {
      @apply bg-transparent text-emerald-600 hover:bg-emerald-200 active:bg-emerald-300;
   }

   .btn-ghost-danger {
      @apply bg-transparent text-red-600 hover:bg-red-200 active:bg-red-300;
   }

   .btn-ghost-warning {
      @apply bg-transparent text-orange-500 hover:bg-orange-200 active:bg-orange-300;
   }
}

.btn:after {
   width: 100%;
   height: 100%;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: none;
}

.dynamic-shadow {
   position: relative;
}

.dynamic-shadow:after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   background: inherit;
   top: 0.5rem;
   filter: blur(0.4rem);
   opacity: 0.7;
   z-index: -1;
}

/* -- Nested List  -- */

/* Set the first layer of list items to regular numeric decimals */
.prose ol {
   list-style-type: decimal;
}

/* Set the second layer of list items to lowercase alphabetic */
.prose ol > li > ol {
   list-style-type: lower-alpha;
}

/* Set the third layer of list items to uppercase Roman numerals */
.prose ol > li > ol > li > ol {
   list-style-type: upper-roman;
}

/* +++++++++++++++Dynamic positioning of FixedToolbar+++++++++++++++ */
/* "tollbar-sticky-top",
         bottom: "tollbar-sticky-bottom", */

.tollbar-sticky-top {
   display: flex;
   flex-direction: column;
}

.tollbar-sticky-top .FixedToolbar {
   top: 0.5rem;
}

.tollbar-sticky-bottom {
   display: flex;
   flex-direction: column-reverse;
}

.FixedToolbar {
   bottom: 0.5rem;
}

.tollbar-sticky-bottom .dropdown {
   bottom: 3rem;
}
